<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.partial.ejs', {
        // TODO: Change plantationName string to variable name
        title: 'plantationName',
        stylesheets: ["https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css"]
    }) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {showDropdownMenus: 'true'}) %>
        <%- include('../partials/confirmRemovalModal.partial.ejs', {customMessage: "<p>Are you sure you want to remove \"<span></span>\"?</p>"}) %>
        <%- include('../partials/addPlantPlantation.partial.ejs', {
            customHeader: "New plant",
            customTitle: "Add a new plant",
            formFields: [
                '<input type = "text" name = "plantName" placeholder = "Plant name*" required maxlength = "191">',
                '<input type = "text" name = "plantFamily" placeholder = "Plant family" maxlength = "191">',
                '<input type = "text" name = "scientificName" placeholder = "Plant scientific name" maxlength = "191">',
                '<button type = "submit">Submit</button>'
            ]
        }) %>
        <%- include('../partials/addPlantPlantation.partial.ejs', {
            modalID: 'newTreatment',
            customHeader: "New treatment",
            customTitle: "Plan a treatment for \"<span></span>\"",
            formFields: [
                '<select name = "treatmentType" required role = "definition">\
                    <option value = "">Treatment Type*</option>\
                    <option value = "Pruning">Pruning</option>\
                    <option value = "Irrigation">Irrigation</option>\
                    <option value = "Fertilization">Fertilization</option>\
                    <option value = "Sowing">Sowing</option>\
                </select>',
                '<input type = "date" name = "treatmentDate" required>',
                '<input type = "number" name = "treatmentDate" placeholder = "Recurrence*" required>',
                '<textarea name = "notes" placeholder = "Notes for this treatment"></textarea>',
                '<button type = "submit">Submit</button>'
            ]
        }) %>
        <dialog class = "modal" id = "treatments">
            <div class = "modal-box space-y-5 text-center">
                <form method = "dialog">
                    <button class = "btn btn-square rounded-md btn-outline absolute right-2 top-2 btn-primary">X</button>
                </form>
                <div class = "flex flex-col justify-center items-center" role = "definition">
                    <header class = "mb-0">
                        <h1 class = "text-secondary font-bold">Treatments</h1>
                        <hr class = "animate-showHide w-20 green-line mx-auto">
                    </header>
                </div>
                <%- include('../partials/treatmentForm.partial.ejs', {
                    treatmentID: null,
                    date: "",
                    recurrence: null,
                    isDisabled: true,
                    separator: true
                }) %>
                <div class = "btn btn-primary rounded-full w-1/2 py-2 px-3" id = "newTreatment" role = "button"><p>New treatment</p></div>
            </div>
        </dialog>
        <section class = "h-64 bg-defaultPlantation bg-cover bg-center p-0 shadow-lg">
            <div class = "size-full bg-black opacity-30"></div>
        </section>
        <section>
            <div class = "mb-5">
                <b class = "text-primary">Pescara, IT</b>
                <h1 class = "font-bold">Plantation 1</h1>
                <hr class = "animate-showHide w-14 green-line origin-left">
            </div>
            <section id = "forecast">
                <p>Forecast for this <span class = "text-primary">area</span></p>
                <div class = "glide w-full p-4 rounded-xl shadow-xl" id = "weatherSlider">
                    <div class = "glide__track" data-glide-el = "track">
                        <ul class = "glide__slides">
                            
                        </ul>
                    </div>
                    <div class = "glide__arrows" data-glide-el = "controls">
                        <button class = "glide__arrow glide__arrow--left" data-glide-dir = "<"><img src = "/assets/icons/arrow.svg"></button>
                        <button class = "glide__arrow glide__arrow--right" data-glide-dir = ">"><img class = "rotate-180" src = "/assets/icons/arrow.svg"></button>
                    </div>
                </div>
            </section>
            <h1 class = "font-bold">Your <span class = "text-secondary">Plants</span></h1>
            <hr class = "animate-showHide w-24 green-line origin-left">
            <div class = "cardsContainer mt-5">
                <%- include('../partials/card.partial.ejs', {
                    isTemplate: true,
                    cardData: ['data-plant-id', '0'],
                    cardBg: '/assets/icons/plant.webp',
                    dropdownTitle: "Plant settings",
                    dropdownOptions: [
                        `<li class = "textToRight" role = "Plan" tabindex = "0"><a><span class = "text-primary">Plan</span> Treatments</a></li>`,
                        `<li class = "textToRight" role = "Remove" tabindex = "0"><a><span class = "text-error">Remove</span> Plant</a></li>`,
                        `<li class = "textToRight" role = "Modify" tabindex = "0"><a><span class = "text-warning">Modify</span> Plant</a></li>`,
                        `<li class = "textToRight" role = "Information" tabindex = "0"><a><span class = "text-info">Plant\'s</span> Information</a></li>`
                    ],
                    cardSubtitle: "Plant family",
                    cardTitle: "Plant name"
                }) %>
                <div class = "customCard" onclick = "newElement('plant', <%=plantationID%>)">
                    <figure class = "!shadow-none !h-36">
                        <img src = "/assets/icons/new_plant.svg">
                    </figure>
                    <div class = "cardContent">
                        <p class = "hidden">Plant family</p>
                        <h2 class = "text-center">New <span class = "text-primary">Plant</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <div class = "toast">

        </div>
        <%- include('../partials/footer.partial.ejs') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/glide.min.js" integrity="sha512-2sI5N95oT62ughlApCe/8zL9bQAXKsPPtZZI2KE3dznuZ8HpE2gTMHYzyVN7OoSPJCM1k9ZkhcCo3FvOirIr2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
        <script src = "/script/constants.js"></script>
        <script src = "/script/utilities.js"></script>
        <script src = "/script/auth/jwt.auth.js"></script>
        <script src = "/script/plantPlantationsManagement.js"></script>
        <script src = "/script/treatmentsManagement.js"></script>
        <script src = "/script/plantPlantationsManagement.js"></script>
        <script src = "/script/apis/plantation.api.js"></script>
        <script src = "/script/apis/weather.api.js"></script>
        <script src = "/script/weatherSlider.js"></script>
        <script>
            getUserList('plant', <%=plantationID%>);
            addSliderElements(<%=plantationID%>);
        </script>
    </body>
</html>