<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: "Plantations"}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {showDropdownMenus: 'true'}) %>
        <%- include('../partials/confirmRemovalModal.partial.ejs', {customMessage: "<p>Are you sure you want to remove \"<span></span>\"?<br>All the linked plants will be removed as well.</p>"}) %>
        <%- include('../partials/addPlantPlantation.partial.ejs', {
            customHeader: "New plantation",
            customTitle: "Add a new plantation",
            formFields: [
                '<input type = "text" name = "plantationName" placeholder = "Name*" required maxlength = "191">',
                '<div class = "flex inputStyleContainer">\
                    <input type = "text" name = "plantationLocation" placeholder = "Location name" maxlength = "191" required>\
                    <div class = "tooltip tooltip-left tooltip-info flex items-center" data-tip=\'We use location data to enhance your experience by giving you relevant weather information about your new plantation.\'>\
                        <img class = "w-4" src = "/assets/icons/info.svg" alt = "Information about giving location data" title = "About location data">\
                    </div>\
                </div>',
                '<input type = "number" name = "plantationLocation" placeholder = "Location postcode (CAP)" minlength = "5" maxlength = "5">',
                '<button type = "submit">Submit</button>'
            ]
        }) %>
        <section>
            <div class = "mb-5">
                <h1 class = "font-bold">Your <span class = "text-secondary">Plantations</span></h1>
                <hr class = "animate-showHide w-32 green-line origin-left">
            </div>
            <div class = "cardsContainer">
                <% plantationsList.forEach(plantation => { %>
                    <%- include('../partials/card.partial.ejs', {
                        isTemplate: false,
                        cardData: ['data-plantation-id', plantation.plantationID],
                        cardBg: plantation.imageURL,
                        dropdownTitle: "Plantation settings",
                        dropdownOptions: [
                            `<li class = "textToRight" onclick = "modify(${plantation.plantationID}, 'plantation')" role = "Modify"><a><span class = "text-primary">Modify</span> Plantation</a></li>`,
                            `<li class = "textToRight" onclick = "confirmRemoval(${plantation.plantationID}, 'plantation')" role = "Remove"><a><span class = "text-error">Remove</span> Plantation</a></li>`
                        ],
                        link: `./${plantation.plantationID}`,
                        cardSubtitle: plantation.location,
                        cardTitle: plantation.plantationName
                    }) %>
                <% }) %>
                <%- include('../partials/card.partial.ejs', {
                    isTemplate: true,
                    cardData: ['data-plantation-id', ''],
                    cardBg: "/assets/icons/plantation.webp",
                    dropdownTitle: "Plantation settings",
                    dropdownOptions: [
                        `<li class = "textToRight" role = "Modify"><a><span class = "text-primary">Modify</span> Plantation</a></li>`,
                        '<li class = "textToRight" role = "Remove"><a><span class = "text-error">Remove</span> Plantation</a></li>'
                    ],
                    cardSubtitle: "Location",
                    cardTitle: "Plantation Name"
                }) %>
                <div class = "customCard" onclick = "newElement('plantation')">
                    <figure class = "!shadow-none !h-36">
                        <img src = "/assets/icons/new_plantation.svg">
                    </figure>
                    <div class = "cardContent">
                        <h2 class = "text-center">New <span class = "text-primary">Plantation</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <div class = "toast">

        </div>
        <%- include('../partials/footer.partial.ejs') %>

        <!-- NOTE: Script declaration -->
        <script src = "/script/utilities.js"></script>
        <script src = "/script/plantPlantationsManagement.js"></script>
    </body>
</html>