<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: "Plantations"}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {showDropdownMenus: 'true'}) %>
        <%- include('../partials/confirmRemovalModal.partial.ejs', {customMessage: "<p>Are you sure you want to remove \"<span></span>\"?<br>All the linked plants will be removed as well.</p>"}) %>
        <%- include('../partials/addPlantPlantation.partial.ejs', {
            customHeader: "New plantation",
            customTitle: "Add a new plantation",
            formFields: [
                '<input type = "text" name = "plantationName" placeholder = "Name*" required maxlength = "191">',
                '<div class = "flex inputStyleContainer">\
                    <input type = "text" name = "locationName" placeholder = "Location name" maxlength = "191" required>\
                    <div class = "tooltip tooltip-left tooltip-info flex items-center" data-tip=\'We use location data to enhance your experience by giving you relevant weather information about your new plantation.\'>\
                        <img class = "w-4 xl:w-5" src = "/assets/icons/info.svg" alt = "Information about giving location data" title = "About location data">\
                    </div>\
                </div>',
                '<input type = "number" name = "locationCAP" placeholder = "Location postcode (CAP)" minlength = "5" maxlength = "5">',
                '<button type = "submit">Submit</button>'
            ]
        }) %>
        <%- include('../partials/updateUser.partial.ejs') %>
        <%- include('../partials/userRemovalConfirmation.partial.ejs') %>
        <section>
            <div class = "mb-5 sm:mb-7">
                <h1 class = "font-bold">Your <span class = "text-secondary">Plantations</span></h1>
                <hr class = "animate-showHide w-32 green-line origin-left">
            </div>
            <div class = "cardsContainer">
                <%- include('../partials/card.partial.ejs', {
                    isTemplate: true,
                    cardData: ['data-plantation-id', ''],
                    cardBg: "/assets/icons/plantation.webp",
                    dropdownTitle: "Plantation settings",
                    dropdownOptions: [
                        `<li class = "textToRight" role = "Modify" tabindex = "0"><a><p><span class = "text-warning">Modify</span> Plantation</p></a></li>`,
                        `<li class = "textToRight" role = "Remove" tabindex = "0"><a><p><span class = "text-error">Remove</span> Plantation</p></a></li>`
                    ],
                    cardSubtitle: "Location",
                    cardTitle: "Plantation Name"
                }) %>
                <div class = "customCard sm:h-full sm:min-h-72" onclick = "newElement('plantation')">
                    <figure class = "!shadow-none !h-36 sm:!h-3/5 sm:mt-4 2xl:!h-4/6">
                        <img src = "/assets/icons/new_plantation.svg">
                    </figure>
                    <div class = "cardContent">
                        <h2 class = "text-center">New <span class = "text-primary">Plantation</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <div class = "toast">

        </div>
        <%- include('../partials/footer.partial.ejs') %>

        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
        <script src = "/script/utilities.js"></script>
        <script src = "/script/auth/jwt.auth.js"></script>
        <script src = "/script/validation/customDefaultValidators.validation.js"></script>
        <script src = "/script/validation/user.validation.js"></script>
        <script src = "/script/validation/plantation.validation.js"></script>
        <script src = "/script/apis/notifications.api.js"></script>
        <script src = "/script/apis/treatment.api.js"></script>
        <script src = "/script/plantPlantationsManagement.js"></script>
        <script src = "/script/notificationsManagement.js"></script>
        <script>
            getUserList('plantation');
            updateNotificationsDropdown();
        </script>
    </body>
</html>